doctype html
html 
    head
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/globals.css") 
        title App
        
    body
        script(src="/js/bootstrap.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js")
        block content