* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

/* Form */
#form {
    width: 350px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(18rem, 1fr));
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, minmax(18rem, 1fr));
    }
  }
  
  @media (max-width: 576px) {
    .grid {
      grid-template-columns: repeat(2, minmax(16rem, 1fr));
    }
  }
  
  @media (max-width: 375px) {
    .grid {
      grid-template-columns: repeat(1, minmax(14rem, 1fr));
    }
  }

